$maxMobile: (max-width: 767px);
$minSmall: (min-width: 768px);
$minMedium: (min-width: 992px);
$minLarge: (min-width: 1200px);


//  Defualt Color
$whiteColor: white;
$blackColor: black;
$redColor: #D33B33;


//  Float
$float-left: left;
$float-right: right;

//   Text 
$text-right: right;
$text-left: left; 