
// *************************************
// ************ Start Footer ***********
// *************************************
.footer {
    overflow: hidden;
    padding: 70px 0px;
    background: #202020;

    
    // About
    .about {
        width: 30%;
        float: $float-left;
        color: white;
        h3 {
            text-transform: uppercase;
            border-bottom: 3px solid $redColor;
            padding-bottom: 7px;
            letter-spacing: 2px;
            font-size: 17px;
        }

        p {
            color: #cccccc;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.8;
        }

        ul {
            padding-left: 0px;

            li {
                display: inline-block;
                border: 2px solid white;
                padding: 8px 10px;
                margin-right: 2px;
                transition: .3s ease-in-out;
                cursor: pointer;

                &:hover {
                    border: 2px solid $redColor;
                }
            }
        }
    }


    // Information

    .information {
        width: 30%;
        float: $float-left;
        color: white;
        margin-left: 52px;
        margin-right: 52px;

        h3 {
            text-transform: uppercase;
            border-bottom: 3px solid $redColor;
            padding-bottom: 7px;
            letter-spacing: 2px;
            font-size: 17px;
        }

        ul {
            padding-left: 0px;
            li {
                padding-bottom: 13px;
                display: block;
                border: 0;
                &:hover {
                    @extend .hover;
                    cursor: pointer;
                }
            }
        }


    }


    // Contact Us

    .contact-us {
        width: 30%;
        float: $float-left;
        color: white;

        h3 {
            text-transform: uppercase;
            border-bottom: 3px solid $redColor;
            padding-bottom: 7px;
            letter-spacing: 2px;
            font-size: 17px;
        }

        p {
            font-size: 16px;
            color: #cccccc;
            padding-right: 16px;
            line-height: 24px;
            padding-left: 25px;
            position: relative;
        

            .ic {
                position: absolute;
                top: 5px;
                left: -2px;
            }

            a {
                color: #cccccc;

                &:hover {
                    @extend .hover;
                }
            }
        }

    }

}


//  Media Screen
@media #{$maxMobile} {  // max-width: 767px
    .footer {
        overflow: hidden;
        padding: 70px 0px;
        background: #202020;
    
        
        // About
        .about {
            width: 100%;
            float: $float-left;
            color: white;
            h3 {
                text-transform: uppercase;
                border-bottom: 3px solid $redColor;
                padding-bottom: 7px;
                letter-spacing: 2px;
                font-size: 17px;
            }
    
            p {
                color: #cccccc;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.8;
            }
    
            ul {
                padding-left: 0px;
    
                li {
                    display: inline-block;
                    border: 2px solid white;
                    padding: 8px 10px;
                    margin-right: 2px;
                    transition: .3s ease-in-out;
                    cursor: pointer;
    
                    &:hover {
                        border: 2px solid $redColor;
                    }
                }
            }
        }
    
    
        // Information
    
        .information {
            width: 100%;
            float: $float-left;
            color: white;
            margin-left: 0;
            margin-right: 52px;
    
            h3 {
                text-transform: uppercase;
                border-bottom: 3px solid $redColor;
                padding-bottom: 7px;
                letter-spacing: 2px;
                font-size: 17px;
            }
    
            ul {
                padding-left: 0px;
                li {
                    padding-bottom: 13px;
                    display: block;
                    border: 0;
                    &:hover {
                        color: $redColor;
                        transition: .3s ease-in-out;
                        cursor: pointer;
                    }
                }
            }
    
    
        }
    
    
        // Contact Us
    
        .contact-us {
            width: 100%;
            float: $float-left;
            color: white;
    
            h3 {
                text-transform: uppercase;
                border-bottom: 3px solid $redColor;
                padding-bottom: 7px;
                letter-spacing: 2px;
                font-size: 17px;
            }
    
            p {
                font-size: 16px;
                color: #cccccc;
                padding-right: 16px;
                line-height: 24px;
                padding-left: 25px;
                position: relative;
            
    
                .ic {
                    position: absolute;
                    top: 5px;
                    left: -2px;
                }
    
                a {
                    color: #cccccc;
    
                    &:hover {
                        color: $redColor;
                        transition: .3s ease-in-out;
                        cursor: pointer;
                    }
                }
            }
    
        }
    }
}

@media #{$minSmall} {  // min-width: 768px
    .footer {
        overflow: hidden;
        padding: 70px 0px;
        background: #202020;
    
        
        // About
        .about {
            width: 100%;
            float: $float-left;
            color: white;
            margin-bottom: 30px;

            h3 {
                text-transform: uppercase;
                border-bottom: 3px solid $redColor;
                padding-bottom: 7px;
                letter-spacing: 2px;
                font-size: 17px;
            }
    
            p {
                color: #cccccc;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.8;
            }
    
            ul {
                padding-left: 0px;
    
                li {
                    display: inline-block;
                    border: 2px solid white;
                    padding: 8px 10px;
                    margin-right: 2px;
                    transition: .3s ease-in-out;
                    cursor: pointer;
    
                    &:hover {
                        border: 2px solid $redColor;
                    }
                }
            }
        }
    
    
        // Information
    
        .information {
            width: 100%;
            float: $float-left;
            color: white;
            margin-left: 0px;
            margin-right: 52px;
            margin-bottom: 30px;
    
            h3 {
                text-transform: uppercase;
                border-bottom: 3px solid $redColor;
                padding-bottom: 7px;
                letter-spacing: 2px;
                font-size: 17px;
            }
    
            ul {
                padding-left: 0px;
                li {
                    padding-bottom: 13px;
                    display: block;
                    border: 0;
                    &:hover {
                        color: $redColor;
                        transition: .3s ease-in-out;
                        cursor: pointer;
                    }
                }
            }
    
    
        }
    
    
        // Contact Us
    
        .contact-us {
            width: 100%;
            float: $float-left;
            color: white;
            margin-bottom: 30px;
    
            h3 {
                text-transform: uppercase;
                border-bottom: 3px solid $redColor;
                padding-bottom: 7px;
                letter-spacing: 2px;
                font-size: 17px;
            }
    
            p {
                font-size: 16px;
                color: #cccccc;
                padding-right: 16px;
                line-height: 24px;
                padding-left: 25px;
                position: relative;
            
    
                .ic {
                    position: absolute;
                    top: 5px;
                    left: -2px;
                }
    
                a {
                    color: #cccccc;
    
                    &:hover {
                        color: $redColor;
                        transition: .3s ease-in-out;
                        cursor: pointer;
                    }
                }
            }
    
        }
    
    }
}

@media #{$minMedium} {  // min-width: 992px
    .footer {
        overflow: hidden;
        padding: 70px 0px;
        background: #202020;
    
        
        // About
        .about {
            width: 33%;
            float: left;
            color: white;
            margin-bottom: 0px;

            h3 {
                text-transform: uppercase;
                border-bottom: 3px solid $redColor;
                padding-bottom: 7px;
                letter-spacing: 2px;
                font-size: 17px;
            }
    
            p {
                color: #cccccc;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.8;
            }
    
            ul {
                padding-left: 0px;
    
                li {
                    display: inline-block;
                    border: 2px solid white;
                    padding: 8px 10px;
                    margin-right: 2px;
                    transition: .3s ease-in-out;
                    cursor: pointer;
    
                    &:hover {
                        border: 2px solid $redColor;
                    }
                }
            }
        }
    
    
        // Information
    
        .information {
            width: 31%;
            float: left;
            color: white;
            margin-left: 18px;
            /* margin-right: 52px; */
            margin-bottom: 0px;
    
            h3 {
                text-transform: uppercase;
                border-bottom: 3px solid $redColor;
                padding-bottom: 7px;
                letter-spacing: 2px;
                font-size: 17px;
            }
    
            ul {
                padding-left: 0px;
                li {
                    padding-bottom: 13px;
                    display: block;
                    border: 0;
                    &:hover {
                        color: $redColor;
                        transition: .3s ease-in-out;
                        cursor: pointer;
                    }
                }
            }
    
    
        }
    
    
        // Contact Us
    
        .contact-us {
            width: 28%;
            float: left;
            color: white;
            margin-bottom: 0px;
    
            h3 {
                text-transform: uppercase;
                border-bottom: 3px solid $redColor;
                padding-bottom: 7px;
                letter-spacing: 2px;
                font-size: 17px;
            }
    
            p {
                font-size: 16px;
                color: #cccccc;
                padding-right: 16px;
                line-height: 24px;
                padding-left: 25px;
                position: relative;
            
    
                .ic {
                    position: absolute;
                    top: 5px;
                    left: -2px;
                }
    
                a {
                    color: #cccccc;
    
                    &:hover {
                        color: $redColor;
                        transition: .3s ease-in-out;
                        cursor: pointer;
                    }
                }
            }
    
        }
    
    }
}

@media #{$minLarge} {  // min-width: 1200px
    .footer {
        overflow: hidden;
        padding: 70px 0px;
        background: #202020;
    
        
        // About
        .about {
            width: 31%;
            float: left;
            color: white;
            margin-bottom: 0px;

            h3 {
                text-transform: uppercase;
                border-bottom: 3px solid $redColor;
                padding-bottom: 7px;
                letter-spacing: 2px;
                font-size: 17px;
            }
    
            p {
                color: #cccccc;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.8;
            }
    
            ul {
                padding-left: 0px;
    
                li {
                    display: inline-block;
                    border: 2px solid white;
                    padding: 8px 10px;
                    margin-right: 2px;
                    transition: .3s ease-in-out;
                    cursor: pointer;
    
                    &:hover {
                        border: 2px solid $redColor;
                    }
                }
            }
        }
    
    
        // Information
    
        .information {
            width: 31%;
            float: left;
            color: white;
            margin-left: 18px;
            /* margin-right: 52px; */
            margin-bottom: 0px;
    
            h3 {
                text-transform: uppercase;
                border-bottom: 3px solid $redColor;
                padding-bottom: 7px;
                letter-spacing: 2px;
                font-size: 17px;
            }
    
            ul {
                padding-left: 0px;
                li {
                    padding-bottom: 13px;
                    display: block;
                    border: 0;
                    &:hover {
                        color: $redColor;
                        transition: .3s ease-in-out;
                        cursor: pointer;
                    }
                }
            }
    
    
        }
    
    
        // Contact Us
    
        .contact-us {
            width: 31%;
            float: left;
            color: white;
            margin-bottom: 0px;
    
            h3 {
                text-transform: uppercase;
                border-bottom: 3px solid $redColor;
                padding-bottom: 7px;
                letter-spacing: 2px;
                font-size: 17px;
            }
    
            p {
                font-size: 16px;
                color: #cccccc;
                padding-right: 16px;
                line-height: 24px;
                padding-left: 25px;
                position: relative;
            
    
                .ic {
                    position: absolute;
                    top: 5px;
                    left: -2px;
                }
    
                a {
                    color: #cccccc;
    
                    &:hover {
                        color: $redColor;
                        transition: .3s ease-in-out;
                        cursor: pointer;
                    }
                }
            }
    
        }
    
    }
}

// End Footer






//  Start CopyRight
.footer-copyright {
    padding: 20px 0px;
    overflow: hidden;
    background: #2C2C2C;

    p {
        margin: 0px;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        a {
            @extend .hover;
        }
    }
}


@media #{$maxMobile} {  // max-width: 767px
    .footer-copyright {
        p {
            font-size: 10px;
        }
    }
}


// End CopyRight